@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
}
body {
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(45deg, #000000 0%, #0e333f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #000000 0%, #0e333f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #000000 0%, #0e333f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: auto;
}
